__pycache__/
*.pyc
.env
venv/
.env*/
.DS_Store
.idea/
.vscode/
dist/
build/
.venv/
__pypackages__/
instance/
*.sqlite3
*.log
*.db
*.pot
*.mo
*.egg-info/
coverage/
htmlcov/
.tox/
.pytest_cache/
.coverage
.cache
.pyre/
/node_modules/
node_modules/*
.mypy_cache/