Flask==2.3.3
Flask-Login==0.6.2
Flask-WTF==1.1.1
WTForms==3.0.1
requests==2.31.0
python-dotenv==1.0.0
bcrypt==4.0.1
transformers==4.35.0
torch==2.1.0
accelerate==0.24.0
gunicorn==21.2.0
pymongo==4.5.0
fitz==0.0.1.dev2
fpdf2==2.7.6